[submodule "minhook"]
	path = Othertransport/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "asio"]
	path = Othertransport/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "readerwriterqueue/readerwriterqueue"]
	path = Othertransport/readerwriterqueue/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
