[submodule "minhook"]
	path = TreeHouse.Othertransport/ThirdParty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "asio"]
	path = TreeHouse.Othertransport/ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "readerwriterqueue/readerwriterqueue"]
	path = TreeHouse.Othertransport/ThirdParty/readerwriterqueue/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "UniDelta"]
	path = UniDelta
	url = https://github.com/DRKV333/UniDelta.git
