@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Routing
@using TreeHouse.Common
@using TreeHouse.QuestEditor.Services

@inherits LayoutComponentBase

@inject MongoDbService mongoDbService

<BlazorBootstrapLayout StickyHeader="true">

    <HeaderSection>
        <ThemeSwitcher Class="ps-3 ps-lg-2" />

        <a href="https://github.com/DRKV333/TreeHouse" class="ps-3">
            <Icon Name="IconName.Github" />
        </a>
    </HeaderSection>

    <SidebarSection>
        <Sidebar
            IconName="IconName.Compass"
            Title="TreeHouse Quest Editor"
            DataProvider="SidebarDataProvider"
        />
    </SidebarSection>

    <ContentSection>
        @Body
    </ContentSection>

</BlazorBootstrapLayout>

@code {
    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        return request.ApplyTo(await GetNavItems().ToListAsync());
    }

    private async IAsyncEnumerable<NavItem> GetNavItems()
    {
        yield return new NavItem()
        {
            Id = "nav-home",
            Href = "/",
            IconName = IconName.House,
            Text = "Home",
            Match = NavLinkMatch.All
        };

        string? category = null;
        string? groupId = null;

        await foreach (QuestNavItem item in mongoDbService.GetAllNavItems())
        {
            if (category != item.Category)
            {
                category = item.Category;
                groupId = "navgroup-" + item.Category;

                yield return new NavItem()
                {
                    Id = groupId,
                    IconName = IconName.Collection,
                    Text = item.Category.Capitalize()
                };
            }

            yield return new NavItem()
            {
                Id = item.MongoId,
                Href = $"/details/{item.MongoId}",
                IconName = IconName.GeoAlt,
                Text = item.Name,
                ParentId = groupId!
            };
        }
    }
}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="blazor-error-ui" class="toast text-bg-danger" data-nosnippet>
        <div class="toast-header">
            <Icon Name="IconName.Bug" Class="px-2" />
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close dismiss"></button>
        </div>
        <div class="toast-body">
            An unhandled error has occurred.
            <button type="button" class="btn btn-outline-warning btn-sm mx-2 reload">Reload</button>
        </div>
    </div>
</div>