@using BlazorBootstrap
@using TreeHouse.QuestEditor.Services
@using TreeHouse.QuestModels.Elasticsearch
@using TreeHouse.QuestModels.Mongo

@inherits ComponentBase

@inject ElasticsearchService elasticService

@attribute [StreamRendering]

<div class="d-flex">
    <div class="flex-grow-1">
        <ElasticAutoComplete
            SearchDelegate="elasticService.AutoCompleteDialog"
            @bind-IdValue="LineData.Id"
            @bind-TextValue="LineText"
        />
    </div>
    <div class="mx-1">
        <DialogResponseView @bind-Response="LineData.Responses" />
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public DialogLine LineData { get; set; } = null!;

    private string LineText { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        if (LineData.Id != 0)
            LineText = (await elasticService.GetDialogById(LineData.Id)).Text;
    }
}